header {
    font-size: 1.6rem;
    padding: 8px;
    box-sizing: border-box;
}

.show {
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: red;
    color: yellow;
}