

### ASPNET-API


# Build results
PedidosMvc/*/[Dd]ebug/
PedidosMvc/*/[Dd]ebugPublic/
PedidosMvc/*/[Rr]elease/
PedidosMvc/*/[Rr]eleases/
PedidosMvc/*/x64/
PedidosMvc/*/x86/
PedidosMvc/*/bld/
PedidosMvc/*/[Bb]in/
PedidosMvc/*/[Oo]bj/
PedidosMvc/*/[Ll]og/