@{
    ViewData["Title"] = "Erro";
    ViewData["EsconderNavs"] = "S";
}

<section class="text-center">
    <span class='text-center d-block icone-grande mb-4'><i class='bi bi-x-circle text-danger'></i></span>
    <span class='text-center d-block'>Ocorreu um erro inesperado.</span>
    <button class='border-0 bg-pfast-btn-2 p-2 mt-3' onclick='window.history.back();'><i class='bi bi-arrow-left px-1'></i>Voltar</button>
</section>
